a{
  text-decoration: none !important;
}

h2{
  font-weight: 700!important;
}

.body-content{
  position: absolute;
  left: 23%;
}

.header-container h2 {
  color: #2F2F2FD6;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 34px;
  margin: 32px 0 8px 0;
}

.header-container p {
  color: #1E1E1E;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  width: 73%;
}

.bell {
  display: flex;
  justify-content: end;
  position: absolute;
  top: 5%;
  right: 3%;

  color: #D9D9D9;
  cursor: pointer;
}

.bell::after{
  content: '4';
  color: #FFF;
  background-color: #FFB200;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  position: absolute;
  right: -20%;
  top: -15%;
}

.fa-solid {
  font-size: 2rem;
  position: relative;
}

.notifications-container{
  background-color: #FFF;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 0 6px #00000029;

  width: 50vw;
  height: 50vh;

  position: absolute;
  right: 2%;
  top: 10%;

  z-index: 10000;

  overflow-y: scroll;

  display: none;
}

.notifications-container.active{
  display: block;
}

.notifications-container::-webkit-scrollbar {
  width: 4px;
}

.notifications-container::-webkit-scrollbar-thumb {
  background: #1E1E1E;
  border-radius: 20px;
}

.notifications-container ul{
  list-style-type: none;
  padding: 0;
}

.notifications-container ul li{
  font-family: 'Open Sans', sans-serif;

  padding-bottom: 12px;
  margin: 0 18px;

  font-size: 14px;
  color: #BABABA;
}

.notifications-container ul li:not(:last-of-type){
  border-bottom: 2px solid #BABABA;
}

.notifications-container .title-container{
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.notifications-container .title-container h4{
  color: #1E1E1E;
  margin-bottom: 0;

  width: 40%;
}

.notifications-container .title-container p{
  color: #BABABA;
  text-align: right;
}

/* Main content */

.main-content{
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  box-shadow: 0 0 6px #00000029;

  padding: 18px;
  margin-right: 18px;
  margin-bottom: 18px;
}

.main-content .title-container{
  color: #005C9E;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.three-columns-container{
  display: flex;
  justify-content: space-between;

  padding: 10px 16px;
}

.three-columns-container .left-content,
.three-columns-container .middle-content,
.three-columns-container .right-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.three-columns-container .image-container{
  position: relative;

  width: fit-content;

  margin-left: 50%;
  transform: translateX(-50%);
}

.three-columns-container .image-container img{
  border: 6px solid #0099F2;
  border-radius: 50%;

  object-fit: cover;

  height: 150px;
  width: 150px;
}

.three-columns-container .image-container .icon-container{
  position: absolute;
  right: -10%;
  top: 50%;
  transform: translateY(-50%);

  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 50%;

  cursor: pointer;

  padding: 8px;

  height: 18px;
  width: 18px;
}

.three-columns-container .image-container .icon-container i{
  color: #0099F2;
  padding-left: 23%;
}

.three-columns-container .informations-container h3{
  color: #005C9E;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;

  text-align: center;

  margin: 0;
  margin-top: 12px;
}

.three-columns-container .informations-container p{
  color: #BABABA;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;

  text-align: center;

  margin: 0;
}

.three-columns-container .input-item{
  display: flex;
  flex-direction: column;

  margin-bottom: 12px;
}

.three-columns-container .input-item label,
.three-columns-container .input-item p{
  margin: 0;
}

.three-columns-container .input-item label{
  color: #005C9E;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.three-columns-container .input-item p{
  color: #2F2F2F84;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

